---

---

<hr class="mt-11">
<footer>
    <!-- copyright -->
    <div class="flex flex-row max-md:flex-col justify-center items-center my-7 gap-3">
        <div>
            © <a href="https://poindre.com">Poindre.com</a> 2024.
        </div>
        <!--<div class="max-md:hidden">|</div>-->
        <!--<div>-->
        <!--    <a href="https://beian.miit.gov.cn/#/Integrated/index">苏ICP备2021055553号</a>-->
        <!--</div>-->
    </div>
    <!-- /copyright -->
</footer>
